name: matrix job
on: push
jobs:
  build:
    strategy:
     matrix:
        node-verision: [12,14,16]
        operating-system: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
      -name: GetCode
       uses: actions/checkout@v3
      -name: Install nodejs
       uses: actions/setup-node@v3
       with:
         node-version: ${{matrix.node-version}}
      -name: Install dependencies
       run: npm ci
      -name: Build project
       run: npm run build  